:root {
  --border: gray;
  --background: field;
  color-scheme: light dark;
}

@supports (color: light-dark(#000, #fff)) {
  :root {
    --border: light-dark(#767676, #858585);
  }
}

@-moz-document url-prefix() {
  :root {
    --border: buttonborder;
  }
}

html,
body {
  font-size: 21px;
  width: fit-content;
}

button {
  line-height: 1;
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 4.5px;
  background: var(--background);
  border: 1.5px solid var(--border);
}

textarea {
  margin: 0px;
  border: none;
  resize: none;
  padding: 2px;
  outline: none;
  display: block;
  font-size: 21px;
  field-sizing: content;
}

.container {
  display: flex;
  margin-top: 8px;
  overflow: hidden;
  border-radius: 4.5px;
  border: 1.5px solid var(--border);
}

.container > :first-child {
  border-right: 1.5px solid var(--border);
}

select {
  border-radius: 2.5px;
  background: var(--background);
  border: 1px solid var(--border);
}
