:root {
  --text: #000;
  --border: #767676;
  --background: field;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --border: #858585;
  }
}

@-moz-document url-prefix() {
  :root {
    --border: buttonborder;
  }
}

@supports (-webkit-touch-callout: none) {
  @media (hover: none) and (pointer: coarse) {
    button {
      --background: #0000;
    }
  }
}

html,
body {
  font-size: 21px;
  width: fit-content;
}

button {
  line-height: 1;
  font-size: 16px;
  padding: 2px 5px;
  color: var(--text);
  border-radius: 4.5px;
  background: var(--background);
  border: 1.5px solid var(--border);
}

textarea {
  margin: 0px;
  border: none;
  resize: none;
  padding: 2px;
  outline: none;
  display: block;
  font-size: 21px;
  field-sizing: content;
  caret-color: var(--text);
}

.container {
  display: flex;
  margin-top: 8px;
  overflow: hidden;
  border-radius: 4.5px;
  border: 1.5px solid var(--border);
}

.container > :first-child {
  border-right: 1.5px solid var(--border);
}
